.pk-featured-content {
  background-color: gainsboro;
  padding: 0px 20px 0px 20px;
  margin: 5px;
  cursor: pointer;
}
.pk-featured-categories-vertical-list .pk-featured-count {
  position: relative;
  background: #000000;
  min-width: 2rem;
  height: 2rem;
  padding: 0 0.25rem;
  font-size: 0.6875rem;
  overflow: hidden;
}
.pk-featured-categories-vertical-list .pk-featured-count .pk-featured-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2rem;
  font-weight: bold;
  margin-top: 0;
  transition: 0.25s ease;
  color: white;
}
.pk-featured-categories-vertical-list .pk-featured-count {
  border-radius: 100%;
}
.pk-featured-categories-vertical-list .pk-featured-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.pk-featured-categories .pk-featured-inner {
  position: relative;
}

@media only screen and (max-width: 1050px) {
  .powerkit_widget_featured_categories {
    width: 70%;
    margin-left: 0px;
  }
}
@media only screen and (max-width: 550px) {
  .powerkit_widget_featured_categories {
    width: 100%;
  }
}
