.cs-search__group {
  position: relative;
  padding: 0 40px;
  border-bottom: 1px solid rgb(236, 233, 233);
}

.cs-search__nav-form,
.cs-search_submit {
  left: 0;
  justify-content: flex-start;
}
.cs-search__nav-form,
.cs-search_submit {
  left: 0;
  justify-content: flex-start;
}
.cs-search_input {
  width: 100%;
  height: 50px;
  border: none !important;
  background: 0 0 !important;
  color: var(--cs-color-primary) !important;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.cs-search__nav-form .cs-search__close {
  right: 0;
  justify-content: flex-end;
}
.cs-search__nav-form button {
  position: absolute;
  top: 0;
  width: 40px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: 0;
}
