.drawer-main-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--cs-color-overlay-background);
  overflow: auto;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 9999;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
}
.bg-light {
  background-color: #ffffff;
}
.bg-dark {
  background-color: black;
}
.drawer-sub-container {
  width: 300px;
  height: 100%;
  cursor: default;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  overflow-y: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.close-button-container {
  position: relative;
}

.close-button {
  right: 0;
  top: 0;
  padding: 10px;
  position: absolute;
  cursor: pointer;
}
.drawer-cmy-name {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 0.5px solid rgb(228 226 226);
}
.drawer-categories-head {
  margin-bottom: 15px;
}
.drawer-nav-items-container {
  padding-top: 10px;
  padding-left: 0;
}
.drawer-nav-items {
  padding: 10px;
  cursor: pointer;
}
.mobile-menu-contact-info {
  color: #666;
}
.social-share {
  display: flex;
  padding-left: 0;
}
.social-share-item {
  padding-right: 10px;
}
