.main-header {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  border-bottom: 1px solid rgb(202, 200, 200);
  z-index: 999;
}

.header-left-container {
  margin-left: 20px;
}

.header-style {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
.cmy-name-container {
  border-right: 0.5px solid #d2cdcd;
  padding-right: 20px;
}

.cmy-name-text {
  font-weight: 500;
}
.header-left-second-container {
  margin-left: 40px;
}
.nav-bar-font {
  font-weight: 700;
  font-size: 13px;
}
.nav-padding-right {
  padding-right: 20px;
}
.nav-padding-left {
  padding-left: 20px;
}

.nav-name::after {
  font: 10px FontAwesome;
  content: '\f078';
  padding-left: 4px;
}
.night-mode-icon {
  font-size: 20px !important;
}
.nightmod-container {
  position: relative;
}
.nightmode-swich-button {
  cursor: pointer;
}
.nightmode-swich-button::before {
  font: 20px FontAwesome;
  content: '\f185';
  position: absolute;
  left: -20px;
}
.nightmode-swich-button::after {
  font: 20px FontAwesome;
  content: '\f186';
  right: 0px;
  position: absolute;
}
.cursor-pointer {
  cursor: pointer;
}
.mobile-nightmode-swich-button {
  display: none;
}
.search-bar-container {
  position: relative;
  top: 50px;
  padding: 20px;
}
.shl-bg {
  background-color: #d1d1d1;
}
.shd-bg {
  background-color: #363537;
}

@media only screen and (max-width: 700px) {
  .header-left-second-container {
    display: none;
  }
  .nightmode-swich-button {
    display: none !important;
  }
  .mobile-nightmode-swich-button {
    display: block;
  }
}

@media only screen and (max-width: 400px) {
  .header-left-container {
    margin-left: 0;
  }
  .cmy-name-container {
    border-right: none;
  }
}
