.latest-item-sub-container {
  border: 0.5px solid #efeaea;
  padding: 20px;
  margin-bottom: 10px;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
}
.item-image-container {
  background-color: rgb(245 243 243);
}
.item-image {
  width: 180px;
}
.sub-item-continer {
  display: flex;
}
.latest-item-commen {
  padding-left: 30px;
}
.latest-post-item-top {
  top: 0;
  margin: 0;
}
.latest-post-item-bottom {
  bottom: 0;
  margin: 0;
}

.latest-item-p {
  color: #81878d;
}
.latest-post-by {
  font-size: 10px;
  font-weight: 600;
  margin-top: 10px;
}
.latest-item-main-container {
  cursor: pointer;
}
.loading-button {
  text-align: center;
  padding: 10px;
}

@media only screen and (max-width: 850px) {
  .item-image {
    width: 100%;
  }
  .mobile-view-latest-post-continer {
    flex-direction: column;
  }

  .latest-item-commen {
    padding-left: 0;
  }
  .mobile-view-latest-text {
    margin-top: 5px;
  }
}
