.crayons-footer {
  background: #eaecee;
  color: black;
  padding: 10px;
  text-align: center;
  display: flex;
  border: 0.1px solid #c7c5c5;
}
.Z-link {
  color: black;
  font-weight: 700;
  margin-right: 5px;
}
.footer-container {
  content-visibility: auto;
}
.crayons-layout {
  font-size: 1rem;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 0;
}
.footer__description {
  color: #4d5760;
}
.social-share-container {
  padding: 0;
}
