.cs-search__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 50px;
  background-color: #fff;
  border: 1px solid #e9ecef;
  padding-right: 80px;
  overflow: hidden;
  position: relative;
}
.cs-search__input {
  border: none;
  color: #000;
  background-color: #fff;
  box-shadow: none;
  padding: 10px 20px 10px 20px;
  outline: none;
}
.featured-container {
  padding: 10px;
  border-bottom: 0.5px solid #e6e2e2;
  cursor: pointer;
}
.featured-image-container {
  padding: 15px;
}

.cs-search__submit {
  position: absolute;
  right: 0;
  padding-right: 5px;
  font-size: 18px !important;
  color: #000;
}
.featured-image {
  width: 100px;
  height: 100%;
}
.featured-date {
  font-size: 10px;
  font-weight: 600;
}
@media only screen and (max-width: 1050px) {
  .cs-sidebar__inner {
    width: 60%;
  }
}
@media only screen and (max-width: 1050px) {
  .cs-sidebar__inner {
    width: 100%;
  }
}
