.mainy-container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 100px;
}

.mainx-container {
  display: flex;
  padding: 0px 80px 0px 80px;
}
.latestPost-containr {
  width: 80%;
}
.FeaturedPosts-topics-container {
  padding-left: 50px;
}
.scroll-to-top-container {
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
}
.scroll-to-top {
  background-color: #c7c7cb;
  padding: 3px;
}
@media only screen and (max-width: 1050px) {
  .mainx-container {
    flex-direction: column;
  }
  .FeaturedPosts-topics-container {
    padding-left: 0;
  }
  .latestPost-containr {
    width: 100%;
  }
  .FeaturedPosts-topics-container {
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }
  .mainx-container {
    padding: 0px 20px 0px 20px;
  }
}

@media only screen and (max-width: 550px) {
  .mainy-container {
    top: 50px;
  }
}
