body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

.default-font {
  font-family: 'Inter', sans-serif;
}

.flex-colum-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex-row {
  display: flex;
}
.flex-row-center {
  display: flex;
  justify-content: center;
}

.flex-colum {
  display: flex;
  flex-direction: column;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.bg-light {
  background-color: #ffff !important;
}
.bg-dark {
  background-color: #363537 !important;
}
.color-dark {
  color: #363537 !important;
}
.color-light {
  color: #ffff;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}
.cursor-pointer {
  cursor: pointer;
}
