.detailsSideNavContainer {
  width: 80px;
  border-right: 1px solid rgb(153, 153, 155);
}
.detailsSideNav-sub-container {
  padding: 0;
  padding-top: 80px;
}
.detailsSideNav-item {
  padding: 20px;
}
.details-img {
  width: 100%;
}
.back-arrow {
  text-align: center;
  padding: 5px;
  background: darkgray;
}

.mm {
  padding: 30px;
}
.ads {
  background-color: aliceblue;
  padding: 20px;
}
.wp-block-code {
  background-color: #e9ecef;
  padding: 1rem 1.5rem;
  font-family: Menlo, Consolas, monaco, monospace;
  line-height: 1.5;
  font-size: 0.875rem;
  white-space: pre-wrap;
  border-radius: 0;
  border: none;
}
@media only screen and (max-width: 550px) {
  .mm {
    padding: 5px;
  }
}
